{% extends 'base.html' %}
{% block content %}

      {% if request.user.profile.is_owner %}
{% for operation in object_list %}

  <div class="panel panel-default">
    <div class="panel-heading">

  <h3 class="panel-title">{% if operation.description %}
    Reason for operation:<br>{{ operation.description }}</h3>{% endif %}
</div>
  <div class="panel-body">
    <p>{{ operation.num1 }} {{ operation.operator }}  {{ operation.num2 }} = {{ operation.do_the_math }}</p>
    <p style="color: orange"><br>
      By: {{ operation.created_by }}
    </p>

  </div>
    </div>
          {% endfor %}
        {% endif %}



{% for operation in object_list %}
    {% if request.user == operation.created_by %}

    <div class="panel panel-default">
      <div class="panel-heading">

    <h3 class="panel-title">{% if operation.description %}
      Reason for operation:<br>{{ operation.description }}</h3>{% endif %}
  </div>
    <div class="panel-body">
      <p>{{ operation.num1 }} {{ operation.operator }}  {{ operation.num2 }} = {{ operation.do_the_math }}</p>
      <p style="color: orange"><br>
        By: {{ operation.created_by }}
      </p>

    </div>
      </div>

{% endif %}

{% endfor %}

{% endblock %}
