{% extends 'base.html' %}
{% block content %}


<h2>
  Balance: {{ request.user.account.get_balance }}
</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    {% for transaction in object_list %}



      <h3 class="panel-title">
      </div>
      <div class="panel-body">
        <h4>{% if transaction.debit_or_deposit == '-' %}
    <span style = "color: red;">{{ transaction.get_debit_or_deposit_display }}</span>:
        {% elif transaction.debit_or_deposit == '+' %}
    <span style = "color: green;">{{ transaction.get_debit_or_deposit_display }}</span>:
        {% endif %}
        {{ transaction.amount }}  <h6>{{ transaction.created }}</h6></h4>
        <h4>{% if transaction.debit_or_deposit == '-' %}
      <hr style="border-color: red;">
        {% elif transaction.debit_or_deposit == '+' %}
      <hr style="border-color: green;">
        {% endif %}

    </h3>



     {% endfor %}

  </div>
</div>

{% endblock %}
