{% extends 'base.html' %}
{% block content %}



{% for action in transaction %}

    <div class="panel panel-default">
      <div class="panel-heading">

    <h3 class="panel-title">{% if transaction.description %}
      Reason for transaction:<br>{{ transaction.description }}</h3>{% endif %}
  </div>
    <div class="panel-body">
      <p>{{ transaction.debit_or_deposit }}{{ transaction.amount }} = {{ transaction.get_balance }}</p>
    </div>
      </div>

      <p>
        {{ account.get_balance }}
      </p>

    {% endfor %}

{% endblock %}
